
#header-container {
    background: #000;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #center-container {
    align-items: center;
    background: #FFF;
    height: 100vh;
    width: 60%;
    margin: 0;
    padding: 0;
  }
  #footer-container {
    background: #000;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #row-formulaire{
    width: 60%;
  }
  #midle-center-container{
    margin: 0;
    padding: 0;
  }
  
#title-header{
    background: #000;
}
a{
    color: #FFF;
}


html ,body{
  margin: 0;
  padding: 0;
}
@media (max-width: 640px){

  #center-container {
    align-items: center;
    background: #FFF;
    height: 175vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #row-formulaire{
    width: 100%;
  }

}